body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin: 0;
    background: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
 }

/* Container */
.container {
    align-items: center;
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-around;
}

 /* Header */
.header {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 100%;
    padding-top: 51px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 20px 0;

    background-color: #333;
    box-shadow: 0 3px 10px rgba(0,
    0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
    transition: .4s;
}

.header.active {
    background-color: #333;
}

.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation */
.navigation {
    font-size: 18px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    line-height: 25px;
    margin: 0 16px;
    position: relative;
    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    opacity: 0;

    width: 100%;
    height: 2px;
    background-color: #D1A954;
    position: absolute;
    transition: opacity .2s linear;
}

.nav_link:hover {
    color: #fff;
}

.nav_link:hover:after {
    opacity: 1;
}

.nav_link span{
    padding-left: 40px;
}

/* Background */
.background {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;

    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), 
    rgba(51, 51, 51, 0.85)), url(images/theatr.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

/* Informathion */
.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 7%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.75);
}

.informathion_border_text {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.information_text {
    font-weight: bold;
    width: 220px;
    height: 25px;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    transform: rotate(-90deg);
}

.information_border {
    width: 60px;
    border: 2px solid #C4C4C4;
    transform: rotate(90deg);
}

/* Social */
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    color: #C4C4C4;
    margin-top: 60px;
}

.social_link {
    display: flex;
}

/* Fa-Instagram */
.fa-instagram {
    transition: .2s linear;
    color: #C4C4C4;
    font-size: 25px;
}

.fa-instagram:hover {
    color: #D1A954;
}

/* Fa-Vk */
.fa-vk {
    transition: .2s linear;
    color: #C4C4C4;
    font-size: 25px;
}

.fa-vk:hover {
    color: #D1A954;
}

/* Fa-Facebook */
.fa-facebook-f {
    transition: .2s linear;
    color: #C4C4C4;
    font-size: 25px;
}

.fa-facebook-f:hover {
    color: #D1A954;
}

/* Fa-Youtube */
.fa-youtube {
    transition: .2s linear;
    color: #C4C4C4;
    font-size: 25px;
}

.fa-youtube:hover {
    color: #D1A954;
}



/* Initial */
.initial {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 540px;
    justify-content: space-evenly;
}

.initial_suptitle {
    text-transform: uppercase;
    font-size: 60px;
    color: #fff;
    letter-spacing: 0.1em;
}

.initial_text {
    font-family: Open Sans;
    font-size: 14px;
}

/* Btn */
.btn {
    width: 160px;
    font-weight: bold;
    text-align: center;
    padding: 8px 47px;
    background-color: #D1A954;
    letter-spacing: 0.1em;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Book */
.book {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
}

.book_distance {
    padding: 0 15px;
}

.book_background {
    background: linear-gradient(0deg, rgba(209, 169, 84, 0.85),
     rgba(209, 169, 84, 0.85));
}

.book_img {
    transition: transform .2s linear;
}

.image {
    width: 275px;
    height: 345px;
}

.book_distance:hover .book_img {
    transform: translate3d(-12px, -12px, 0);
}

.book_img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}


/* Previous & next border */
.previous_next_border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

/* Previous & border */
.previous_border  {
    align-items: center;
    width: 100px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.previous {
    transition: .2s linear;
    color: #C4C4C4;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
}

.border_left {
    transition: .2s linear;
    width: 0;
    height: 0;
    border-right: 17px solid #C4C4C4;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

/* Next & border */
.next_border  {
    align-items: center;
    width: 100px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.next {
    transition: .2s linear;
    color: #C4C4C4;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
}

.border_right {
    transition: .2s linear;
    width: 0;
    height: 0;
    border-left: 17px solid #C4C4C4;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}


/* About theater */
.our_theater {
    
    text-transform: uppercase;
    font-size: 43px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 150px;
}

.about_theater {
    color: #fff;
}

.about_theater span {
    margin-right: 15px;
    color: #D1A954;
}

/* informathion about theater */
.about {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}

/* Best theater */
.about_big_theater {
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 


.best_theatr {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.1em;

}

.info_theater {
    font-family: Open Sans;
    line-height: 150%;
    font-size: 14px;
}

/* Numbers theater */
.about_number_theater {
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number_theater {
    margin-bottom: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.1em;
}

.icon_chair {
    display: flex;
}

.fa-chair {
    color: #fff;
    font-size: 50px;
}

.theater_seat {
    font-size: 16px;
    font-weight: bold;
}

.theater_seat span {
    font-size: 16px;
    color: #D1A954;
    font-weight: bold;
}

.icon_masks {
    display: flex;
}

.fa-theater-masks {
    font-size: 50px;
    color: #fff;
}

.theater_years {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.theater_years span {
    color: #D1A954;
    font-size: 16px;
    font-weight: bold;
}


/* Our productions */
.our_productions {
    margin-top: 150px;
    text-align: center;
}

.theater_productions {
    letter-spacing: 0.1em;
    font-size: 48px;
    text-transform: uppercase;
}

.theater_productions span {
    margin-right: 15px;
    color: #D1A954;
}

/* Photo theater with productions */
.photo_productions {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 100px;
}

.picture_theater {
    position: relative;
    width: 340px;
    height: 500px;
    overflow: hidden;
}

/* First picture */
.first_picture {
    position: relative;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(images/picture_1.jpg) 75% 25% no-repeat;;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.first_picture:hover {
    transform: scale(1.1);
}


.first_performance {
    padding: 20px 50px;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.first_data {
    position: absolute;
    padding: 400px 0px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

/* Second picture */
.second_picture {
    position: relative;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(images/picture_2.jpg) 75% 25% no-repeat;;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.second_picture:hover {
    transform: scale(1.1);
}

.second_performance {
    padding: 20px 45px;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.second_data {
    position: absolute;
    padding: 410px 0px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

/* Third picture */
.third_picture {
    position: relative;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(images/picture_3.jpg) 75% 25% no-repeat;;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.third_picture:hover {
    transform: scale(1.1);
}

.third_performance {
    padding: 20px 45px;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.third_data {
    position: absolute;
    padding: 415px 0px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

/* Fourth picture */
.fourth_picture {
    position: relative;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(images/picture_4.jpg) 75% 25% no-repeat;;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.fourth_performance {
    padding: 20px 45px;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.fourth_data {
    position: absolute;
    padding: 420px 0px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.fourth_picture:hover {
    transform: scale(1.1);
}

/* about theater critics */
.theater_critics {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picture_critics {
    width: 910px;
    height: 450px;
}

.picture_about_critics {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(images/picture_1.jpg) 75% 25% no-repeat;
    min-height: 100%;
}

/* years of visiting critics */
.exacly_years {
    right: 60%;
    position: absolute;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.years span {
    font-size: 70px;
    color: #D1A954;
    font-weight: bold;
}

/* star icons */
.icon_star {
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    position: absolute;
}


.star {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.star_critics {
    display: flex;
}

.fa-star {
    color: #D1A954;
    font-size: 25px;
}

/* сritics comments */
.info_critics {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_critics_about {
    font-weight: bold;
    font-size: 36px;
}

/* fourth page */
.partners_theatre {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 100px;
}

.name_partners {
    letter-spacing: 0.1em;
    font-size: 48px;
    text-transform: uppercase;
}

.name_partners span {
    margin-right: 15px;
    color: #D1A954;
}

/* about the theater's partners */
.about_theater_partners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 910px;
    margin: 0 auto; 
}

.sponsor_theater {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sponsor_logo {
    display: flex;
}

.fa-amazon {
    font-size: 100px;
    color: #C4C4C4;
}

.amazon {
    font-size: 25px;
    text-transform: uppercase;
    color: #C4C4C4;
    font-weight: bold;
    letter-spacing: 0.1em;
}

/* fifth page */
.become_maecenas {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 100px;
}

.maecenas {
    letter-spacing: 0.1em;
    font-size: 48px;
    text-transform: uppercase;
}

.maecenas span {
    margin-right: 15px;
    color: #D1A954;
}

/* contact */
.all_contact {
    width: 910px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_connections {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 255px;
    height: 170px;
}

.contact_number {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* Become a patron of the big theater */
.contact_input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 700px;
    height: 285px;
}

.all_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.input_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#color-placeholder::-webkit-input-placeholder {
    color: #989898;
}

.color-text {
    background-color: #444444;
    color: #D1A954;
}

input.color-text {
    outline: none; /* Убираем свечение в Chrome и Safari */
    width: 180px;
    height: 35px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #616161;
    font-size: 12px;
}

.color-text-2 {
    background-color: #444444;
    color: #D1A954;
}

textarea.color-text-2 {
    outline: none; /* Убираем свечение в Chrome и Safari */
    width: 270px;
    height: 80px;
    padding: 5px 10px 50px 10px;
    border: 1px solid #616161;
    font-size: 12px;
    resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* information about the security of your data */
.sending_information {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.safety_information {
    width: 350px;
    line-height: 150%;
    font-weight: normal;
    font-size: 12px;
    color: #989898;
}

.btn2 {
    font-family: Open Sans Condensed;
    border: none; /* Убираем рамку */
    height: 50px;
    width: 190px;
    font-weight: bold;
    text-align: center;
    background-color: #D1A954;
    letter-spacing: 0.1em;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s linear;
}

.btn2:hover {
    background-color: #fff;
    color: #333;
}


/* conclusion */
.copyright {
    border-top: 1px solid #565656;
    max-width: 910px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 14px;
    color: #989898;  
    display: flex;
    justify-content: space-between;
}

.section {
    padding: 1px 0;
}